//@import "node_modules/slick-carousel/slick/slick.css";

.page{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen{
  flex: 1 0 100%;
  position: relative;
  &__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.content{

}
section.generation {
  padding: 120px 0;
  background-color: $mainBgColor;
  &__block {}
  @media (max-width: 900px) {
    padding: 80px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
  }
}
.block {
  text-align: center;
      &__icon {
        margin: 0 0 30px 0;
      }
      &__title {
        color: $secondTextColor;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        line-height: 24px;
        margin: 0 0 18px 0;
      }
      &__text {
        color: $thirdTextColor;
        font-size: 18px;
        line-height: 34px;
        &--j{
          text-align: justify;
          font-size: 16px;
          line-height: 30px;
          &:after{
            content: '';
            display: block;
            margin: 35px auto 0 auto;
            width: 50px;
            height: 1px;
            background-color: #ebebeb;
          }
        }
        @media (max-width: 1500px) {
          &--j{
            &:after{
              margin: 15px auto 0 auto;
            }
          }
        }
      }

}
.brands{
  &--rev{
    .brands__column{
      order: 1;
      &--b{
        order: 2;
      }
    }
  }
  &--last{

  }
  &__row{
    display: flex;
  }
  &__column{
    flex: 0 1 33.333%;
    &--b{
      flex: 0 1 66.667%;
    }
  }
  &__item{}
  &__content{
    padding: 70px 65px 55px 65px;
    position: relative;
    &:after{
      z-index: 5;
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;

    }
  }

  &__image{
    padding: 0 0 37.51% 0;
  }
  @media (max-width: 1500px) {
    &__content{
      padding: 40px 35px 55px 35px;
    }
  }
  @media (max-width: 1100px) {
    &--last{
      .brands__column{
        &:nth-child(1){order: 2;}
        &:nth-child(2){order: 1;}
        &:nth-child(3){order: 3;}
      }
    }
    &__row{
      flex-direction: column;
    }
  }
}
.item{
  display: block;
  position: relative;
  height: 100%;
  &__logo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: rgba(100,194,158,.5);
    transition: all, .3s;
    opacity: 0;
    visibility: hidden;
    span{
      margin: 10px 0 0 0;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover{
    .item__logo{
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1100px) {
    height: auto;
    padding: 0 0 70% 0;
  }
}

//slider

.slider{
  .slick-slide img {
    display: inherit;
  }
  background-color: $mainBgColor;
  padding: 120px 0 60px 0;
  &__body{
    .slick-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 55px 0 0 0;
      li{
        margin: 0 15px;
        button{
          font-size: 0;
          width: 15px;
          height: 15px;
          border: 1px solid $thirdTextColor;
          border-radius: 50%;
          background-color: $mainBgColor;
          }
        &.slick-active{
          button{
            background-color: $thirdTextColor;
          }
        }
      }
    }
  }
  &__item{
    text-align: center;

  }
  &__icon{
    margin: 0 0 35px 0;
  }
  &__title{
    color: $secondTextColor;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
    span{
      font-weight: 300;
      color: $thirdTextColor;
    }
  }
  &__text{
    color: $thirdTextColor;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
  }
  @media (max-width: 600px) {
    padding: 25px 0 50px 0;
  }
}
.shop{
  position: relative;
  //height: 534px;
  &__body{
    display: flex;
  }
  &__column{
    flex: 0 1 16.666%;
    &--b{
    flex: 0 1  33.3333%;
    }
  }
  &__block{}
  &__footer{
    background-color: $footerBgColor;
    padding: 75px 0;
    text-align: center;
  }
  &__btn{
    height: 50px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 0 60px;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,.5);
  }
  @media (max-width: 1100px) {
    &__body{
      flex-wrap: wrap;
    }
    &__footer{
      padding: 50px 0;
    }
    &__btn{
      padding: 0 30px;
    }
    &__column{
      flex: 0 1 50%;
      &:first-child{
        flex: 1 1 100%;
      }
      &:last-child{
        flex: 1 1 100%;
      }
    }
  }
}
.block-shop{
  height: 100%;
  &__row{
    display: flex;
  }
  &__column{
    flex: 0 1 50%;
  }
  &__item{
    height: auto;
    padding: 0 0 50% 0;
    &--b{
      padding: 0 0 200.5% 0;
    }
    &--little{
      padding: 0 0 100% 0;
    }
  }
}

.subscribe{
  &__body{
    padding: 110px 0;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo{
    margin: 0 0 39px 0;
  }
  &__label{
    color: $thirdTextColor;
    font-size: 24px;
    font-style: italic;
    margin: 0 0 35px 0;
  }
  &__form{
    display: flex;
  }
  &__input{
    flex: 1 1 126px;
    margin: 0 8px 0 0;
    .input{
      width: 100%;
      height: 69px;
      border: 1px solid #d3d7d9;
      background-color: #fff;
      padding: 0 28px;
      color: $thirdTextColor;
      font-size: 20px;
      font-style: italic;
      &:focus{
        font-style: normal;
        color: $secondTextColor;
      }
    }
  }
  &__button{
    width: 100%;
    flex: 0 0 126px;
    line-height: 69px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    height: 69px;
    background-color: $btnColor;
    button{
      background: none;
      border: 0;
      color: #fff;
    }
  }
  &__btn{}
  @media (max-width: 750px) {
    &__body{
      padding: 50px 0;
    }
  }
  @media (max-width: 500px) {
    &__form{
      display: block;
    }
    &__input{
      margin: 0 0 15px 0;
    }
    &__button{
    }
  }
}