.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.block__row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 20px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__column{
  border:20px solid #5e5373;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}
.block__item{
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 700;
}
.one{
  align-self: center;
  order: 3;
}
.two{
  align-self: stretch;
  order: 2;
}
.three{
  align-self: flex-end;
  order: 1;
}
.dos{
  height: 350px;
}


